In [1]:
import pandas as pd
data = pd.read_csv('../../data/PovStatsData.csv')
data = data.drop('Unnamed: 50', axis=1)
print(data.shape)
data.sample(3)

(11840, 50)

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1694,Belarus,BLR,Poverty gap at $5.50 a day (2011 PPP) (% of po...,SI.POV.UMIC.GP,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6,0.4,0.2,0.1,0.1,0.1,0.1,0.1,0.1,NaN
5011,Guyana,GUY,"Multidimensional poverty, Educational enrollme...",SI.POV.ENRL.MI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5591,Ireland,IRL,"Multidimensional poverty, Sanitation (% of pop...",SI.POV.SANI.MI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN